# The main config file for your Jekyll template

# Site settings
title: Amora               # used for the html title of every page
desc: >
  The Autonomous Mobile Robot Algorithms (AMORA) project 
  aims to enable our Pioneer 3 robots to perform simple 
  tasks autonomously. In order to do so, we plan to integrate 
  state-of-the-art algorithms in path planning, navigation, 
  SLAM, object recognition and others within the ROS framework.

url: http://jackal.com      # put your website hosting url here
baseurl: ''                 # the subpath of your site, e.g. /blog
permalink: /:year/:title/   # how should we display posts url

# Meta settings
email: gabriel.araujo.5000@gmail.com
author: Gabriel Araujo
# twitter_username: clenemt
github_username: Gastd
github_source: jackal

# Put your ga tracking code below
google_analytics: 'UA-XXXXXXXX-X'

# Pagination settings
paginate: 5                           # number of posts to show per page
paginate_path: "/articles/page:num/"  # link scheme for articles, should be letf as is

# Navigation settings
# Used to define the navigation menu items
# > Title is the tile of the navigation item, url the url and desc is the tooltip
navigation:
  # - title: Articles
  #   url: /articles/
  #   desc: Stuffs I write about
  - title: Projects
    url: /projects/
    desc: Stuffs I like to do
  - title: Documentation
    url: /docs/
    desc: Documentation and stuffs that were learn in those years
  - title: Peaple
    url: /peaple/
    desc: Know who is the team

# Used by Jekyll to recognize what is a post and what is a page
defaults:
  -
    scope:
      path: ''
      type: posts
    values:
      layout: post

# Markdown parser settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false          # you can change this if you feel like it
  parse_block_html: true    # allow parsing html inside markdown

# Build settings
include:
  - _pages                  # all your pages can be put inside pages (except articles)
exclude:
  - README.md
  - vendor
gems:
  - jekyll-paginate

